/*--------------------------------------------------------------------------------------*\
| UNIQUE
\*--------------------------------------------------------------------------------------*/
.wp-block-flavus-card-carousel .acf-table > .ui-sortable {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}
.wp-block-flavus-card-carousel .acf-table > .ui-sortable img {
	height: 200px;
	object-fit: cover;
}
.wp-block-flavus-card-carousel .acf-repeater .acf-row {
	border: 1px solid;
}

/*--------------------------------------------------------------------------------------*\
| COPY PASTE STYLES FROM FRONTEND
\*--------------------------------------------------------------------------------------*/
.wp-block-flavus-card-carousel-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: var(--spacing-gap);
}
.wp-block-flavus-card-carousel-card {
	user-select: none;
}
.swipe-effect-next {
	animation: swipe-next 0.3s;
}
.swipe-effect-prev {
	animation: swipe-prev 0.3s;
}
.wp-block-flavus-card-carousel-card img {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.wp-block-flavus-card-carousel .card-figure {
	width: 100%;
	aspect-ratio: 3/2;
	height: auto;
}
.card-heading {
	margin: 1rem 0;
}
.card-p {
	margin-bottom: 1rem;
}
.wp-block-flavus-card-carousel .card-buttons a {
	background-color: unset;
	padding: 0;
	text-decoration: unset;
	color: var(--primary-color);
	font-weight: bold;
	user-select: all;
}
.wp-block-flavus-card-carousel .card-buttons a:hover {
	background-color: unset;
	color: var(--primary-color);
}
.wp-block-flavus-card-carousel-card .text-info {
	display: block;
	padding: 1rem 0;
}
.wp-block-flavus-card-carousel-card.has-background .text-info {
	padding: 1rem;
}
.wp-block-flavus-card-carousel-buttons {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding: 1rem 0;
}
.wp-block-flavus-card-carousel-pagination {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 0;
	align-items: center;
}
.wp-block-flavus-card-carousel .circle {
	background: var(--grijs);
	aspect-ratio: 1;
	width: 2rem;
	display: block;
	height: 2px;
}
.wp-block-flavus-card-carousel .circle.active {
	background-color: var(--secondary-color);
}
.wp-block-flavus-card-carousel-prev {
	background: transparent;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-left: 2px solid var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
	cursor: pointer;
}
.wp-block-flavus-card-carousel-next {
	background: transparent;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-right: 2px solid var(--secondary-color);
	border-top: 2px solid var(--secondary-color);
	cursor: pointer;
}
.wp-block-flavus-card-carousel-navigation {
	display: flex;
	justify-content: space-between;
}

@keyframes swipe-next {
	from {
		transform: translateX(60px);
		opacity: 0.7;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes swipe-prev {
	from {
		transform: translateX(-60px);
		opacity: 0.7;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
